.App {
  font-family: sans-serif;
  text-align: center;
}

.option-button {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
}

.correct {
  background-color: green;
  color: white;
}

.wrong {
  background-color: red;
  color: white;
}
